.registration-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration-card {
  width: 600px;
  min-width: 600px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.registration-card-title {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.registration-card-form {
  width: 100%;
}

.registration-card-submit {
  width: 100%;
  margin-top: 20px;
}

.registration-card a {
  color: #007bff;
  text-decoration: none;
}

.registration-card a:hover {
  color: #0056b3;
}

